.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 3rem;
    height: 120px;
    display: flex;
    justify-content: space-between;
    --tw-bg-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    background-color:black;
  }

 

