.Home{
    padding-top:200px;
    text-align: center;
}


.profileImage {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 15px;
  }


.ProfileName{
    font-size: 50px;;
}



.aboutSkill{
    padding-top: 50px;
    display:flex;
}

.icon{
    text-align: center;
    padding: 0 50px;
}

.icons{
    position: 'absolute';
}

 