.icons{
    font-size: 1.25rem;
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 4rem;
    height: 100%;
    cursor: pointer;
    padding-left:10px;
    
  }

  .images{
    margin-left:45px;
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
  }


  .images:hover{
    border-bottom:2px solid white;
    text-decoration: none;

  }
