.Title{
        padding:0px 30px;
        margin: 150px 70px 20px 70px; 
        border-left: solid black 10px;
        font-size: 40px;
    /* text-align: center; */
}

.ProjectText{
    text-align: center;
    padding-top:50px;
}

.Images{
    height: 300px;
    width: 400px;
    float: right;
    border-radius: 5%;
}

